$v-layout-margin-top: 10px; 
$v-layout-margin-right: 10px; 
$v-layout-margin-bottom: 10px; 
$v-layout-margin-left: 10px;

@import "../valo/valo";
@import "common";

// kurutheme layout padding
$view-padding: round($v-unit-size / 1.5) !default;

// Slight adjustment to menu background-color
$valo-menu-background-color: #414B56;

@mixin kurutheme {
  @include valo;
  @include common;

.v-panel-content-menu { background-color: #4b4b4b; }

.v-panel-caption-menu {
	background: #1876da;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	color: white;
}

.overflow {
	overflow-y: scroll;
}

.v-button-menubutton { 
	color: #eeeeee;
	font-size: x-large;
	height: 50px;
}

.masonry-layout .masonry-item.border-green {
	width: 600px;
	border: green solid 2px;
}

.masonry-layout .masonry-item.border-red {
	width: 600px;
	border: red solid 2px;
}

.v-panel-caption-to-be-issued {
	text-transform: uppercase;
	font-size: 30px;
}

.v-vertical-articlebox {
	margin: 3px 3px 3px 3px;
}

.v-vertical-articlebox-selected {
	border: green solid 2px;
}

.v-panel-itembox > div > [class*="-caption"] {
	margin: 12px 12px;
}

.v-panel-caption-itembox {
	font-size: 20px;
}

.v-panel-content-itembox {
	margin-top: -60px;
}

.v-panel-billbox > div > [class*="-caption"] {
	margin: 12px 12px;
}

.v-panel-caption-billbox {
	font-size: 20px;
}

.v-label-box { 
	text-transform: uppercase;
	text-align: center;
}

.v-label-box-title { 
	font-size: 30px;
}

.v-label-title {
	text-transform: uppercase;
	font-size: 30px;
}

.v-label-justify {
	text-align: justify;
}

.v-label-box-label { 
	font-size: 24px;
}

}
